@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    background-color: rgb(231, 228, 228);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    width: 60vw;
    min-width: 330px;
    max-width: 70vw;
}
.input-area label{
    font-weight: bold;
    color: #000;
}
.input-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarefa-lista h3{
    font-weight: bold;
    color: #000;
}
#botao-adicionar{
    margin-left: 8px;
    border-radius: 7px;
    height: 30px;
    width: 31px;
    position: relative;
    top: 1px;
    background-color: rgb(39, 100, 190);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 300ms ease;
    box-shadow: 1px 2px 10px #464646;
}
#botao-adicionar:hover{
    cursor: pointer;
    background-color: rgb(34, 90, 173);
    border: solid 1px black;
}
.input-area #input{
    height: 30px;
    padding-left: 6px;
    border: none;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 2px 10px #464646;
}
.input-area #input:focus{
    outline: none;
    border: black 1px solid;
}
.tarefas{
    padding-left: 30px;
}
.tarefas li{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: black 2px solid;
    margin: 2px 0px;
    border-radius: 8px;
    padding: 10px;
}
.tarefa-li.tarefa-estilizada{
    color: green;
    font-weight: bold;
    border: green solid 2px;
}
.botao-remover{
    background-color: transparent;
    border: none;
    margin: 0px 5px;
    font-weight: 600;
    padding: 4px;
    border-radius: 50%;
    transition: color 300ms ;
}
.botao-excluir{
    margin: 8px;
    border-radius: 7px;
    padding: 3px 5px;
    background-color: rgb(190, 57, 39);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 300ms ease;
    box-shadow: 1px 2px 10px #464646;
}
.botao-remover:hover{
    color: red;
}
.checkbox{
    background-color: green;
    font-size: 110%;
}
.fa-trash-can, .fa-trash-can::before{
    font-size: 15px;
}
.check{
    color: green;
}
.div-erro{
    display: flex;
    justify-content: flex-start;
}
#error-message{
    color: red;
    font-family: sans-serif;
    font-size: 13px;
}

@media (max-width: 600px) {
    .tarefas{
        padding-left: 5px;
    }
}
@media (max-width: 300px) {
    .container{
        min-width: 280px;
    }
}

/* https://animista.net/ */